body {
      background-color: orange;
      font-size: 11px;
      font-family: Aptos, sans-serif;
      /* remove invalid font-style*/
}

.header img {
      display: flex;
      align-items: center;
      padding: 10px;
      width: 200px; /* wider */      
}

.logo {
    width: 100px;
    height: auto;
    font-size: 1em;
}

.company-name {
    flex: 1; /* take remaining space */
    text-align: center;/* text should remain centered */
    margin: 15px;
}
/* make all main pages heading (h1) x-larger */
h1,h2,h3,h4 {
    font-size: larger; /* increase number for bigger text */
    color: black; 
    text-align: center; /* centre all headings */
    margin:30px; /* adds space above and below */
}

.img {
    max-width: 100px;
    height: auto;
}

.services-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.service {
    text-align: center;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px 0;
}

.slideshow {
    width: 90%; /*make it responsive*/
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
    justify-content: center;
    gap: 15px;
}

.slide.active {
    display: flex; /*show active slide as flex*/
}

.slide img {
    width: 30px; /*2 images side by side*/
    height: auto; 
    border-radius: 5px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
    user-select: none;
    background-color: white;
    transform: translateY(-30%)
}

.prev { left: 10px; }
.next { right: 10px; }

.slide-description {
    text-align: center;
    margin-top: 15px;
}

.learn-more:hover {
    background-color: orange;
}

.learn-more {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: white;
    color: black; /*make text visibal*/
    text-decoration: none;
    font-style: aptos;
    border-radius: 5px;
}

.learn-more:hover {
    background-color: white;
}

#electrical-description, #plumbing-description {
    margin-top: 10px;
    text-align: left;
    padding: 0 20px;
}