body {
    background-color: navy;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    color: white;
    padding: left;
    gap: 20px;
}

nav {
    display: flex;
    gap: 15px 20px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 47, 255);
    font-weight: bolder;
    font-size: 20px;
}

nav a:hover {
    color: rgb(255, 255, 255);
}

/*top section logo and titel*/
.navbar-top {
    display: flex;
    align-items: center; /*text center with logo*/
    background-color: rgb(255, 255, 255);
    color: orange;
    padding: 15px 20px;
}

.navbar-top h1{
    font-size: 22px;
    margin: 0px;
}

/*Navigation bar below header*/
.navbar-links {
    display: flex;
    background-color: orange;
    justify-content: flex-start;
}

.navbar-links a {
    color: white; /*text color*/
    padding: 50px 110px;
    text-decoration: none;
    display: block;
    border-right: 1px solid var(--nav-border, #ff590c); /*thin divider*/
    font-size: 15px
}

.navbar-links a:hover {
    background-color: var(--nav-hover, #fa7c07)
}

.services-container {
    display: flex;
    flex-direction: column; /*stacks rows vertically*/
    align-items: center; 
    gap: 50px; 
    padding: 30px;
}

.service-row {
    display: flex;
    justify-content: center; 
    gap: 100px; /*or larger*/
    flex-wrap: wrap; 
}

.service-item {
    text-align: center;
    max-width: 250px; /*allow a bit more room*/
    flex: 1 1 200px; /*make it flexible*/
    margin: 0 15px; 
}

.service-item img {
    width: 100px; /*always fills container*/
    height: auto; /*maintain apsect ratio*/
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3)
      
}

.service-item p {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.logo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.company-name {
    font-size: 1,5rem;
    font-weight: bold;
    color:white
}

.header-content {
    display:flex;
    align-items: center;
    gap: 15px;
}

/*mobile screens*/
@media (max-width: 768px) {
    .navbar-top {
        flex-direction: column;
        text-align: center;
    }

    .header-content {
        flex-direction: column;
        gap: 10px;
    }
    
    .navbar-links a {
        flex: 1 1 100%;
        text-align: center;
        padding: 10px;
        font-size: 13px;
    }

    .service-row{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .service-item {
        max-width: 90%; /*shrink image on mobile*/
    }
}


